.chat-wall-header-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.chat-wall-header-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.username-text-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 5px 0px 5px;
}

.chat-wall-header button {
  margin: 5px;
}

.chat-wall-header hr {
  margin-top: 0px;
  margin-bottom: 10px;
}

.chat-wall-header-user {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.wall-container {
  justify-content: center;
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

.submission-container {
  border-radius: 10px;
  border-width: 1px;
  padding: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submission-text-container {
  width: 100%;
  margin-bottom: 7px;
}

.submission-button-container {
  display: flex;
  justify-content: flex-end;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.post-box {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post-box button {
  padding: 0;
  border: none;
  background: none;
  vertical-align: middle;
}

.post-box hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.post-text-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  vertical-align: middle;
  margin-top: 0px;
}

.title-text {
  margin-bottom: 0;
  font-style: italic;
  color: rgba(83, 83, 83, 0.795);
}

.post-text-header button {
  font-size: 100;
}

textarea[name=postText] {
  resize: none;
}
